@page "/quiz/edit/{Code?}"

@using QuizFoot.Client.Components.Edit

@if (Quiz != null)
{
    <Quiz Root=Quiz></Quiz>
    <button @onclick="Save_OnClick">Save</button>
}
else
{
    <h1>Getting Quiz Info...</h1>
}

