@page "/"


<NavLink class="nav-link" href="editQuiz">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Create
</NavLink>

<NavLink class="nav-link" href="joinQuiz">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Join
</NavLink>

<NavLink class="nav-link" href="HostQuiz">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Host
</NavLink>
