

<div class="question-container">
    <div class="question-header">
        <input @bind="Root.Text" />
    </div>

    <div class="question-content">
        @switch (Root.Type)
        {
            case QuestionType.MultipleChoice:
                {
                    if (Root.QuestionObject is QuizFoot.Shared.Edit.MultipleChoiceQuestion mcq)
                    {
                        <QuizFoot.Client.Components.Edit.EditMultipleChoiceQuestion Root="mcq"></QuizFoot.Client.Components.Edit.EditMultipleChoiceQuestion>
                    }
                }
                break;
            case QuestionType.String:
                {
                    if(Root.QuestionObject is QuizFoot.Shared.Edit.StringQuestion sq)
                    {
                        <QuizFoot.Client.Components.Edit.EditStringQuestion Root="sq"></QuizFoot.Client.Components.Edit.EditStringQuestion>
                    }
                }
                break;
            default:
                break;
        }
    </div>
</div>
