
<div class="multiple-choice-options-container">
    @for (int i = 0; i < Root.Options.Count; i++)
    {

        var option = Root.Options[i];
        <div class="multiple-choice-option">
            <input class="input-text @(option.IsCorrect? "success" : "")" @bind="option.Answer" @ondblclick="x=>OnOption_DoubleClick(option)" />
        </div>

    }
</div>

