@using QuizFoot.Shared.Edit
@if (ShowText)
{
    <input @bind="Root.Text" />
}
<div>
    Answer Type:
    <select @bind=Root.AnswerType>
    <option value=@AnswerType.String>Text</option>
    <option value=@AnswerType.Numeric>Number</option>
    <option value=@AnswerType.Date>Date</option>    
    </select>
</div>
<div>
    Answers:
    <input type="number" min="1" value="@Root.Answers.Count" @onchange="OnAnswersCountChange"/>
</div>
<div>
    Multiple Choice:
    <input type="checkbox" @bind="Root.IsMultipleChoice"/>
</div>
    
<div>
    @foreach(var answer in Root.Answers)
    {
        <Answer Root=answer AnswerType=Root.AnswerType ShowCorrect=Root.IsMultipleChoice ShowNonExactParameters=!Root.IsMultipleChoice></Answer>
    }
</div>