

<div class="question-container">
    <div class="question-header">
        <input @bind="Root.Text" />
    </div>

    <div class="question-content">
        @if(Root.Parts.Count == 1)
        {
            <QuestionPart Root="Root.Parts[0]" ShowText=false></QuestionPart>
        }
        else
        {
            foreach(var part in Root.Parts)
            {
                <QuestionPart Root="part" ShowText=true></QuestionPart>
            }
        }
    </div>
</div>
